/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap');

/* Variables */
$background: #fafafa;
$primary: #da2d2d;
$primary-hover: #b42525;
$text1: #3a3a3a;
$text2: #b3b3b3;
$footer: #212121;

/* Global Styling */
body {
	padding: 0px;
	margin: 0px auto;
	background: $background;
	font-family: Raleway;
	line-height: 2;
}

h1 {
	font-size: 40px;
	font-family: Playfair Display;
	font-weight: bold;
}

h5 {
	font-weight: 600;
}

h4 {
	font-weight: bold;
	font-size: 20px;
	color: $text1;
}

h6 {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: $primary;
}

a:hover {
	color: $primary-hover;
}

[class*="col-"] {
	margin-bottom: 15px;
}

.page {
	margin-top: 120px;
	background: transparent;
}

.container-fluid {
	padding: 0 !important;
}

/* ---------------------------------------------------
                  MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
	.blogBookmark {
		position: relative !important;
	}

	.map {
		display: none;
	}

	.blogTitle {
		width: 100% !important;
	}

	.arteeCaro {
		display: block;
	}

	.nav-item {
		padding: 0;
	}

	.navigationAlign {
		margin-left: 0px !important;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Navigation */
.arteeNav {
	background: #ffffff !important;
	color: $text1;
	font-weight: bold;
	box-shadow: 0px 0px 5px #727272;
	font-size: 14px;
	padding: 10px;
}

.navigationAlign {
	margin-left: 400px;
}

.nav-item {
	padding: 0px 25px;
}

.logo {
	width: 100px;
}

/* Hero Section */
.hero {
	background-color: $primary;
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff;
	height: 100vh;
	position: relative;
	z-index: 0;
}

.featImg {
	width: 100%;
	height: 100vh;
	background-size: cover;
	object-fit: cover;
}

.desc {
	position: absolute;
	bottom: 0;
	left: 20;
	margin-bottom: 60px;
}

.titleHead {
	font-size: 4em;
}

.tagHead {
	font-size: 18px;
	font-weight: 600;
}

/* News and Updates */
.news {
	margin-top: 100px;
}

.card-title {
	font-size: 12px;
}

/* Buttons */
.btn-artee {
	background: $primary;
	color: #ffffff;
	padding: 5px 25px;
	border-radius: 0px;
	font-size: 12px;
	transition: 0.5s;
}

.btn-artee:hover {
	color: #ffffff;
	background: $primary-hover;
}

.grey {
	background: #e3e3e3;
	width: 100%;
	height: 150px;
}

.redCard {
	background: $primary;
	color: #ffffff;
	padding: 100px 60px;
}

.map {
	background: $text1;
	float: right;
	width: 500px;
	height: 450px;
	color: #ffffff;
	margin-top: -50%;
	z-index: 2;
	position: relative;
	box-shadow: 0px 1px 10px #727272;
}

.footer {
	margin-top: 100px;
	background: $footer;
	color: #ffffff;
	padding: 40px;
}

/* About Page */
.aboutHead {
	background: $primary;
	color: #fff;
	padding: 60px 60px;
}

.aboutTagline {
	font-size: 18px;
	font-family: Playfair Display;
	font-weight: bold;
	color: $text2;
}

.team {
	margin-toP: 40px;
	margin-bottom: 40px;
}

.teamPic {
	width: 128px;
}

.socialIcons {
	color: $text2;
}

.bioLink {
	color: $primary;
	font-weight: bold;
	font-size: 12px;
}

/* Biography Page */

.bioText {
	text-align: justify;
	color: $text1;
}

.teamOthers {
	background: #fff;
	padding: 40px;
}

/* Blog Page*/

.blogBookmark {
	color: $primary;
	font-size: 20px;
	position: fixed;
}

.share {
	padding: 0px 10px;
}

.arteeCaro {
	background: $primary;
}

.img-fluid {
	height: 400px;
	object-fit: cover;
}

.blogTitle {
	width: 600px;
	position: relative;
	z-index: 2;
	line-height: 1.4;
}

.arteeTable {
	font-size: 14px;
}

.someSpace {
	padding: 0px 10px;
}

.cardImg {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.eventImg {
	width: 100%;
	object-fit: cover;
}
